body {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #222;
}

button{
  margin: 0.5rem;
  border-style: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #333;
  color: white;
}

p {
  font-weight: bold;
  color: red;
}
